@use "global" as *;

.layout-contact {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.layout-contact.layout-contact--sub {
  margin-top: rem(106);
  @include mq("md") {
    margin-top: rem(140);
  }
}

.layout-contact.layout-contact--margin {
  margin-top: rem(94);
  @include mq("md") {
    margin-top: rem(126);
  }
}
