@use "global" as *;

.animation {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.animation .is-open {
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  z-index: 2;
  background-color: $green3;
  transition: width 0.7s ease-in-out;
}

.animation img {
  width: 100%;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}
