@use "global" as *;

.sitemap {
  position: relative;
}

.sitemap::after {
  content: "";
  position: absolute;
  background: url("/assets/images/common/voice-fish-img.webp");
  background-repeat: no-repeat;
  background-size: cover;
  top: rem(5);
  left: calc(max(0px, 50% - min(48vw, rem(172))));
  width: rem(120);
  height: rem(55);
  z-index: -1;
  @include mq("md") {
    background: none;
  }
}

.sitemap__inner {
  max-width: rem(630);
}

.sitemap__nav {
  display: grid;
  column-gap: rem(50);
  grid-template-columns: repeat(2, 1fr);
  margin-top: rem(12);
  padding-left: rem(23);

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: rem(95);
    padding-left: rem(0);
    margin-top: rem(0);
  }
}
